::-webkit-scrollbar {
    display: none;
}

.is-fullheight {
    min-height: calc(100vh - 50px) !important;
}

.clearfix-vertical-margins {
    margin-top: auto;
    margin-bottom: auto;
}

.nav .container div:first-child {
    flex-grow: 3;
}